<tr>
  <td><%= "#{credit_card.brand} xxxx-xxxx-xxxx-#{credit_card.last4}" %></td>
  <td><%= "#{credit_card.exp_month}/#{credit_card.exp_year}" %></td>
  <td><%= link_to Spree.t(:edit), '#' %></td>
</tr>
