<h1><%= t('conekta.card.processing_order')%></h1>

<iframe style='display:none;' id='conekta_iframe_wrapper'></iframe>

<script>
setTimeout(function() {
  var socket;

  socket = new easyXDM.Socket({
    swf: 'https://s3.amazonaws.com/conekta_api/flash/easyxdm.swf',
    remote: 'https://api.conekta.io/iframe_proxy.html',
    container: 'conekta_iframe_wrapper',
    props: {
      style: {
        width: '376px',
        height: '400px',
        position: 'relative',
        left: '-188px',
        'margin-top': '-200px',
        'overflow-x': 'hidden',
        'overflow-y': 'hidden'
      },
      scrolling: 'no'
    },
    onMessage: function(message, origin) {
      socket.destroy();
      window.location = '/orders/<%= @order.number %>';
    }
  });

}, 2000);
</script>
