<form id='redirectForm' target='conekta' method='<%= @order_details['card']['redirect_form']['action'] %>' action='<%=@order_details['card']['redirect_form']['url'] %>'>
  <% @order_details['card']['redirect_form']['attributes'].each do |k, v| %>
   <input name="<%= k %>" value='<%= v %>' type='hidden'></input>
  <%-end%>
</form>

<iframe id='conekta' style='height: 400px;
width: 50%; border' frameborder="0"></iframe>

<script>
  setTimeout(function() {
    $('#redirectForm').submit();
    $('#redirectForm').remove();
  }, 2000);
</script>
