---
http_interactions:
- request:
    method: post
    uri: https://api.conekta.io/customers/cus_e7inii51RjUPsMbP8/cards
    body:
      encoding: UTF-8
      string: '{"token":"tok_test_visa_4242"}'
    headers:
      Content-type:
      - ' application/json'
      Authorization:
      - Basic MXR2NXlKcDN4blZaN2VLNjdtNGg6
  response:
    status:
      code: 200
      message: 
    headers:
      Conekta-Media-Type:
      - conekta-v0.3.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"6453da9ca700879a9676990deb507b1f"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":"card_p9R45EcwFNswRsFK","created_at":1390945612,"active":true,"last4":"4242","object":"card","exp_month":"12","exp_year":"19","brand":"VISA","name":"Jorge
        Lopez","customer_id":"cus_e7inii51RjUPsMbP8"}'
  recorded_at: Tue, 28 Jan 2014 21:46:37 GMT
recorded_with: VCR 2.8.0
