---
http_interactions:
- request:
    method: post
    uri: https://api.conekta.io/charges
    body:
      encoding: UTF-8
      string: '{"amount":10000,"reference_id":"foo123","currency":"MXN","description":"foo123","bank":{"type":"banorte"}}'
    headers:
      Content-type:
      - ' application/json'
      Authorization:
      - Basic MXR2NXlKcDN4blZaN2VLNjdtNGg6
  response:
    status:
      code: 200
      message: 
    headers:
      Conekta-Media-Type:
      - conekta-v0.2.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"5bc2c73c23c8c6942619b282f1d75a8f"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":"52e7f084d7e1a03818000419","livemode":false,"created_at":1390932100,"status":"pending_payment","currency":"MXN","description":"foo123","reference_id":"foo123","failure_code":null,"failure_message":null,"monthly_installments":null,"object":"charge","amount":10000,"fee":14.85,"payment_method":{"service_name":"Conekta","service_number":"127589","object":"bank_transfer_payment","type":"banorte","reference":"0060152"},"details":{"name":null,"phone":null,"email":null,"line_items":[]}}'
  recorded_at: Tue, 28 Jan 2014 18:01:25 GMT
recorded_with: VCR 2.8.0
