---
http_interactions:
- request:
    method: get
    uri: https://api.conekta.io/customers/cus_tVggKneQBGuVWps4n/cards
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - " application/json"
      Authorization:
      - Basic a2V5X1IzSk5IYWRjY01UZG1welo6
  response:
    status:
      code: 200
      message: 
    headers:
      Conekta-Media-Type:
      - conekta-v0.3.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - "\"0157ed2f2086aff130dda176113292a3\""
      Status:
      - 200 OK
      X-Record-Count:
      - '1'
    body:
      encoding: UTF-8
      string: "[{\"id\":\"card_jrWX3KxJ8euvFvXA\",\"created_at\":1397600100,\"active\":true,\"last4\":\"5100\",\"object\":\"card\",\"exp_month\":\"12\",\"exp_year\":\"19\",\"brand\":\"MC\",\"name\":\"Jorge
        Lopez\",\"customer_id\":\"cus_tVggKneQBGuVWps4n\"}]"
  recorded_at: Tue, 15 Apr 2014 22:18:31 GMT
- request:
    method: post
    uri: https://api.conekta.io/customers/cus_tVggKneQBGuVWps4n/cards
    body:
      encoding: UTF-8
      string: "{\"token\":\"1234567\"}"
    headers:
      Content-type:
      - " application/json"
      Authorization:
      - Basic a2V5X1IzSk5IYWRjY01UZG1welo6
  response:
    status:
      code: 404
      message: 
    headers:
      Conekta-Media-Type:
      - conekta-v0.3.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: "{\"object\":\"error\",\"type\":null,\"message\":\"Object 1234567 could
        not be found.\",\"message_to_purchaser\":\"The resource was not found.\",\"param\":null,\"code\":null}"
  recorded_at: Tue, 15 Apr 2014 22:18:31 GMT
recorded_with: VCR 2.8.0
