---
http_interactions:
- request:
    method: get
    uri: https://api.conekta.io/customers/cus_tVggKneQBGuVWps4n/cards
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - " application/json"
      Authorization:
      - Basic a2V5X1IzSk5IYWRjY01UZG1welo6
  response:
    status:
      code: 200
      message: 
    headers:
      Conekta-Media-Type:
      - conekta-v0.3.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - "\"151e5739099513672cda3ac1a89c4fbc\""
      Status:
      - 200 OK
      X-Record-Count:
      - '1'
    body:
      encoding: UTF-8
      string: "[{\"id\":\"card_cs4HeSKnhW9ADqN1\",\"created_at\":1397599296,\"active\":true,\"last4\":\"4242\",\"object\":\"card\",\"exp_month\":\"12\",\"exp_year\":\"19\",\"brand\":\"VISA\",\"name\":\"Jorge
        Lopez\",\"customer_id\":\"cus_tVggKneQBGuVWps4n\"}]"
  recorded_at: Tue, 15 Apr 2014 22:06:32 GMT
- request:
    method: put
    uri: https://api.conekta.io/customers/cus_tVggKneQBGuVWps4n/cards/card_cs4HeSKnhW9ADqN1
    body:
      encoding: UTF-8
      string: "{\"token\":\"tok_test_mastercard_4444\"}"
    headers:
      Content-type:
      - " application/json"
      Authorization:
      - Basic a2V5X1IzSk5IYWRjY01UZG1welo6
  response:
    status:
      code: 200
      message: 
    headers:
      HTTP/1.1 200 OK: []
      Conekta-Media-Type:
      - conekta-v0.3.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - "\"78e3fd4b857bd8e80a393bb67592c8bb\""
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: "{\"id\":\"card_cs4HeSKnhW9ADqN1\",\"created_at\":1397599296,\"active\":true,\"last4\":\"4444\",\"object\":\"card\",\"exp_month\":\"12\",\"exp_year\":\"19\",\"brand\":\"VISA\",\"name\":\"Jorge
        Lopez\",\"customer_id\":\"cus_tVggKneQBGuVWps4n\"}"
  recorded_at: Tue, 15 Apr 2014 22:06:33 GMT
recorded_with: VCR 2.8.0
