---
http_interactions:
- request:
    method: post
    uri: https://api.conekta.io/charges
    body:
      encoding: UTF-8
      string: '{"amount":10000,"reference_id":"foo123","currency":"MXN","description":"foo123","monthly_installments":1,"card":"tok_test_visa_4242"}'
    headers:
      Content-type:
      - ' application/json'
      Authorization:
      - Basic MXR2NXlKcDN4blZaN2VLNjdtNGg6
  response:
    status:
      code: 200
      message: 
    headers:
      Conekta-Media-Type:
      - conekta-v0.3.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"37764125a1372ae6185104e5f213fafb"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":"52e9a581d7e1a0395700062b","livemode":false,"created_at":1391043969,"status":"paid","currency":"MXN","description":"foo123","reference_id":"foo123","failure_code":null,"failure_message":null,"monthly_installments":1,"object":"charge","amount":10000,"fee":649,"refunds":[],"payment_method":{"name":"Jorge
        Lopez","exp_month":"12","exp_year":"19","auth_code":"458923","object":"card_payment","last4":"4242","brand":"visa"},"details":{"name":null,"phone":null,"email":null,"line_items":[]}}'
  recorded_at: Thu, 30 Jan 2014 01:06:01 GMT
recorded_with: VCR 2.8.0
