---
http_interactions:
- request:
    method: post
    uri: https://api.conekta.io/customers
    body:
      encoding: UTF-8
      string: "{\"name\":\"catharine.rogahn@keebler.info\",\"email\":\"catharine.rogahn@keebler.info\"}"
    headers:
      Content-type:
      - " application/json"
      Authorization:
      - Basic a2V5X1IzSk5IYWRjY01UZG1welo6
  response:
    status:
      code: 200
      message: 
    headers:
      Conekta-Media-Type:
      - conekta-v0.3.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - "\"58ddc20956114117f8e964dde8ecdf1f\""
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: "{\"id\":\"cus_tVggKneQBGuVWps4n\",\"email\":\"catharine.rogahn@keebler.info\",\"name\":\"catharine.rogahn@keebler.info\",\"phone\":null,\"livemode\":false,\"default_card_id\":null,\"object\":\"customer\",\"created_at\":1397599296,\"cards\":[],\"subscription\":null}"
  recorded_at: Tue, 15 Apr 2014 22:01:04 GMT
recorded_with: VCR 2.8.0
