---
http_interactions:
- request:
    method: post
    uri: https://api.conekta.io/charges
    body:
      encoding: UTF-8
      string: '{"amount":10000,"reference_id":"foo123","currency":"MXN","description":"foo123","details":{"name":null,"email":null,"phone":null,"billing_address":{"email":null,"street1":null,"street2":null,"city":null,"state":null,"country":null,"zip":null},"line_items":[{"name":"foo","description":"var"}],"shipment":{"price":null,"address":{"street1":null,"street2":null,"city":null,"state":null,"country":null,"zip":null}}},"card":"tok_test_visa_4242","monthly_installments":null}'
    headers:
      Content-type:
      - ' application/json'
      Authorization:
      - Basic MXR2NXlKcDN4blZaN2VLNjdtNGg6
  response:
    status:
      code: 200
      message: 
    headers:
      Conekta-Media-Type:
      - conekta-v0.3.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"8f418d7d3ae42f0d3cd9dd29f8e5f77c"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":"5306432cd7e1a010ec000085","livemode":false,"created_at":1392919340,"status":"paid","currency":"MXN","description":"foo123","reference_id":"foo123","failure_code":null,"failure_message":null,"monthly_installments":null,"object":"charge","amount":10000,"fee":649,"refunds":[],"payment_method":{"name":"Jorge
        Lopez","exp_month":"12","exp_year":"19","auth_code":"223643","object":"card_payment","last4":"4242","brand":"visa"},"details":{"name":null,"phone":null,"email":null,"line_items":[{"name":"foo","description":"var","unit_price":0,"quantity":null,"sku":null,"category":null}],"billing_address":{"street1":null,"street2":null,"street3":null,"city":null,"state":null,"zip":null,"country":null,"tax_id":null,"company_name":null,"phone":null,"email":null},"shipment":{"carrier":null,"service":null,"tracking_id":null,"price":null,"address":{"street1":null,"street2":null,"street3":null,"city":null,"state":null,"zip":null,"country":null}}}}'
  recorded_at: Thu, 20 Feb 2014 18:02:04 GMT
recorded_with: VCR 2.8.0
