---
http_interactions:
- request:
    method: post
    uri: https://api.conekta.io/customers/cus_tVggKneQBGuVWps4n/cards
    body:
      encoding: UTF-8
      string: "{\"token\":\"tok_test_visa_4242\"}"
    headers:
      Content-type:
      - " application/json"
      Authorization:
      - Basic a2V5X1IzSk5IYWRjY01UZG1welo6
  response:
    status:
      code: 200
      message: 
    headers:
      Conekta-Media-Type:
      - conekta-v0.3.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - "\"633cf6e6eb02dcd1ddc9eaf46e7d3c79\""
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: "{\"id\":\"card_cs4HeSKnhW9ADqN1\",\"created_at\":1397599296,\"active\":true,\"last4\":\"4242\",\"object\":\"card\",\"exp_month\":\"12\",\"exp_year\":\"19\",\"brand\":\"VISA\",\"name\":\"Jorge
        Lopez\",\"customer_id\":\"cus_tVggKneQBGuVWps4n\"}"
  recorded_at: Tue, 15 Apr 2014 22:01:04 GMT
recorded_with: VCR 2.8.0
