---
http_interactions:
- request:
    method: get
    uri: https://api.conekta.io/customers/cus_tVggKneQBGuVWps4n/cards
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - " application/json"
      Authorization:
      - Basic a2V5X1IzSk5IYWRjY01UZG1welo6
  response:
    status:
      code: 200
      message: 
    headers:
      Conekta-Media-Type:
      - conekta-v0.3.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - "\"d751713988987e9331980363e24189ce\""
      Status:
      - 200 OK
      X-Record-Count:
      - '0'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 15 Apr 2014 22:14:28 GMT
- request:
    method: post
    uri: https://api.conekta.io/customers/cus_tVggKneQBGuVWps4n/cards
    body:
      encoding: UTF-8
      string: "{\"token\":\"tok_test_mastercard_5100\"}"
    headers:
      Content-type:
      - " application/json"
      Authorization:
      - Basic a2V5X1IzSk5IYWRjY01UZG1welo6
  response:
    status:
      code: 200
      message: 
    headers:
      Conekta-Media-Type:
      - conekta-v0.3.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - "\"62c58ef78778c5c97a3fbc417366894b\""
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: "{\"id\":\"card_jrWX3KxJ8euvFvXA\",\"created_at\":1397600100,\"active\":true,\"last4\":\"5100\",\"object\":\"card\",\"exp_month\":\"12\",\"exp_year\":\"19\",\"brand\":\"MC\",\"name\":\"Jorge
        Lopez\",\"customer_id\":\"cus_tVggKneQBGuVWps4n\"}"
  recorded_at: Tue, 15 Apr 2014 22:14:28 GMT
recorded_with: VCR 2.8.0
