---
http_interactions:
- request:
    method: post
    uri: https://api.conekta.io/charges
    body:
      encoding: UTF-8
      string: '{"amount":1000,"reference_id":"R330262178-AXGAYR96","currency":"USD","description":"R330262178-AXGAYR96","card":{"name":"John
        Doe","cvc":"123","number":"4242424242424242","exp_year":"14","exp_month":"01","address":{"name":"John
        Doe","city":"Herndon","state":"AL","zip":"20170","country":"US","phone":"123-456-7890","street1":"10
        Lovely Street","street2":"Northwest"}}}'
    headers:
      Content-type:
      - ' application/json'
      Authorization:
      - Basic MXR2NXlKcDN4blZaN2VLNjdtNGg6
  response:
    status:
      code: 200
      message: 
    headers:
      Conekta-Media-Type:
      - conekta-v0.2.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"c60b13bccfc390a6dc3b5de86c199abb"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":"529cd561d7e1a03df20005a1","livemode":false,"created_at":1386009953,"status":"paid","currency":"USD","description":"R330262178-AXGAYR96","reference_id":"R330262178-AXGAYR96","failure_code":null,"failure_message":null,"object":"charge","amount":1000,"fee":336,"payment_method":{"name":"John
        Doe","exp_month":"01","exp_year":"14","auth_code":"155537","object":"card_payment","last4":"4242","brand":"visa","address":{"street1":"10
        Lovely Street","street2":"Northwest","street3":null,"city":"Herndon","state":"AL","zip":"20170","country":"US"}},"details":{"name":null,"phone":null,"email":null,"line_items":[]}}'
  recorded_at: Mon, 02 Dec 2013 18:45:54 GMT
recorded_with: VCR 2.8.0
