---
http_interactions:
- request:
    method: post
    uri: https://api.conekta.io/charges
    body:
      encoding: UTF-8
      string: '{"amount":200000,"reference_id":"R112421384-AHTXWDVY","currency":"MXN","description":"R112421384-AHTXWDVY","monthly_installments":1,"card":"tok_test_visa_4242"}'
    headers:
      Content-type:
      - ' application/json'
      Authorization:
      - Basic MXR2NXlKcDN4blZaN2VLNjdtNGg6
  response:
    status:
      code: 200
      message: 
    headers:
      Conekta-Media-Type:
      - conekta-v0.3.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"19f510c4933a8ab750a6f8762bb6ed1c"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":"52e9a513d7e1a03f19000235","livemode":false,"created_at":1391043859,"status":"paid","currency":"MXN","description":"R112421384-AHTXWDVY","reference_id":"R112421384-AHTXWDVY","failure_code":null,"failure_message":null,"monthly_installments":1,"object":"charge","amount":200000,"fee":7261,"refunds":[],"payment_method":{"name":"Jorge
        Lopez","exp_month":"12","exp_year":"19","auth_code":"348385","object":"card_payment","last4":"4242","brand":"visa"},"details":{"name":null,"phone":null,"email":null,"line_items":[]}}'
  recorded_at: Thu, 30 Jan 2014 01:04:10 GMT
recorded_with: VCR 2.8.0
