---
http_interactions:
- request:
    method: post
    uri: https://api.conekta.io/charges
    body:
      encoding: UTF-8
      string: '{"amount":200000,"reference_id":"R241733181-WZAYDAMJ","currency":"MXN","description":"R241733181-WZAYDAMJ","card":"tok_9D296DAjPa7qthJPr"}'
    headers:
      Content-type:
      - ' application/json'
      Authorization:
      - Basic MXR2NXlKcDN4blZaN2VLNjdtNGg6
  response:
    status:
      code: 200
      message: 
    headers:
      Conekta-Media-Type:
      - conekta-v0.3.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"23e72b7b8efd9d64215f7ac81318b66a"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":"52e9464fd7e1a08328000045","livemode":false,"created_at":1391019599,"status":"paid","currency":"MXN","description":"R241733181-WZAYDAMJ","reference_id":"R241733181-WZAYDAMJ","failure_code":null,"failure_message":null,"monthly_installments":null,"object":"charge","amount":200000,"fee":7261,"refunds":[],"payment_method":{"name":"John
        Doe","exp_month":"01","exp_year":"15","auth_code":"389468","object":"card_payment","last4":"4242","brand":"visa"},"details":{"name":null,"phone":null,"email":null,"line_items":[]}}'
  recorded_at: Wed, 29 Jan 2014 18:19:50 GMT
recorded_with: VCR 2.8.0
