---
http_interactions:
- request:
    method: post
    uri: https://api.conekta.io/charges
    body:
      encoding: UTF-8
      string: '{"amount":200000,"reference_id":"R506153211-TPVYZSWQ","currency":"MXN","description":"R506153211-TPVYZSWQ","card":{"name":"John
        Doe","cvc":"123","number":"4000000000000002","exp_year":"15","exp_month":"01","address":{"name":"John
        Doe","city":"Herndon","state":"AL","zip":"20170","country":"US","phone":"123-456-7890","street1":"10
        Lovely Street","street2":"Northwest"}}}'
    headers:
      Content-type:
      - ' application/json'
      Authorization:
      - Basic MXR2NXlKcDN4blZaN2VLNjdtNGg6
  response:
    status:
      code: 402
      message: 
    headers:
      Conekta-Media-Type:
      - conekta-v0.2.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 402 Payment Required
    body:
      encoding: UTF-8
      string: '{"object":"error","type":"processing_error","message":"The card''s
        issuing bank has declined to process this charge.","code":"card_declined"}'
  recorded_at: Thu, 23 Jan 2014 23:53:11 GMT
recorded_with: VCR 2.8.0
