---
http_interactions:
- request:
    method: post
    uri: https://api.conekta.io/charges
    body:
      encoding: UTF-8
      string: '{"amount":200000,"reference_id":"R848567456-SX5L7Q7X","currency":"MXN","description":"R848567456-SX5L7Q7X","monthly_installments":null,"details":{"name":"John
        Doe","email":"spree@example.com","phone":"123-456-7890","billing_address":{"email":"spree@example.com","street1":"10
        Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","country":"US","zip":"20170"},"line_items":[{"name":"Product
        #8 - 9926","description":"Perspiciatis ut tenetur minus rerum necessitatibus.
        Quis odio odit doloribus. Suscipit dolores consectetur velit voluptas quia.
        Laudantium totam amet blanditiis dolorem natus nisi eaque quas.\nQui veniam
        atque odit sequi. Officia eligendi sed voluptatibus non dolores expedita voluptates
        sapiente. At earum facere id aperiam quo illo. Beatae reprehenderit ut sint
        eos sit.\nSit doloremque tempore est reiciendis et. Nostrum dolore in cupiditate
        architecto suscipit. Incidunt magni fugiat eos nihil enim tenetur assumenda.
        Quisquam tempore qui nihil autem similique voluptatem eum cum.\nAperiam qui
        ut dicta dolorem laborum rerum et eum. Autem ipsa aliquid aperiam eveniet
        est ut nihil minima. Qui quod a dignissimos doloremque velit eos.\nEt vero
        suscipit voluptate fugit laborum. Harum esse expedita laudantium rem error
        quis et sint. Ut est et ducimus vel mollitia. Exercitationem vitae culpa voluptas
        vel natus.","sku":"58666f0150806a4de4f255fcdb6b4c88","unit_price":"19.99"}],"shipment":{"price":"0.0","address":{"street1":"10
        Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","country":"US","zip":"20170"}}},"card":"test_tok_processing_error"}'
    headers:
      Content-type:
      - ' application/json'
      Authorization:
      - Basic MXR2NXlKcDN4blZaN2VLNjdtNGg6
  response:
    status:
      code: 404
      message: 
    headers:
      HTTP/1.1 404 Not Found: []
      Conekta-Media-Type:
      - conekta-v0.3.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"object":"error","type":"resource_not_found","message":"Token ''test_tok_processing_error''
        could not be found."}'
  recorded_at: Tue, 04 Feb 2014 22:43:22 GMT
recorded_with: VCR 2.8.0
