---
http_interactions:
- request:
    method: post
    uri: https://api.conekta.io/charges
    body:
      encoding: UTF-8
      string: '{"amount":200000,"reference_id":"R071224764-QPYXWEZA","currency":"MXN","description":"R071224764-QPYXWEZA","card":"tok_PQQgZnLujnTW1BD1r"}'
    headers:
      Content-type:
      - ' application/json'
      Authorization:
      - Basic MXR2NXlKcDN4blZaN2VLNjdtNGg6
  response:
    status:
      code: 402
      message: 
    headers:
      Conekta-Media-Type:
      - conekta-v0.3.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 402 Payment Required
    body:
      encoding: UTF-8
      string: '{"object":"error","type":"processing_error","message":"The payment
        could not be processed"}'
  recorded_at: Wed, 29 Jan 2014 16:07:42 GMT
recorded_with: VCR 2.8.0
