---
http_interactions:
- request:
    method: post
    uri: https://api.conekta.io/charges
    body:
      encoding: UTF-8
      string: '{"amount":200000,"reference_id":"R164485503-88UE844H","currency":"MXN","description":"R164485503-88UE844H","monthly_installments":null,"details":{"name":"John
        Doe","email":"spree@example.com","phone":"123-456-7890","billing_address":{"email":"spree@example.com","street1":"10
        Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","country":"US","zip":"20170"},"line_items":[{"name":"Product
        #14 - 2412","description":"Autem magni vitae labore voluptatem commodi. Explicabo
        inventore aut tempora odit ex vel ea temporibus. Animi et qui placeat nemo.\nAccusamus
        consequatur quia quisquam. Odit unde ratione velit recusandae sint illo molestiae
        expedita. Aliquid optio illo accusamus et excepturi sunt asperiores.\nLaudantium
        optio laborum qui aspernatur et porro. Illum inventore saepe rerum. Explicabo
        incidunt vitae harum deleniti. A quam repellat ut aperiam sint praesentium
        cumque velit. Ea eius rerum voluptate numquam.\nAmet beatae est fugiat qui
        ad repudiandae eos. Exercitationem at maiores nulla sed error molestiae. Rerum
        provident numquam rerum nihil ea qui aut.","sku":"4f32dc8e96c9a9fe2e47a09d5e7e2637","unit_price":"19.99"}],"shipment":{"price":"0.0","address":{"street1":"10
        Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","country":"US","zip":"20170"}}},"cash":{"type":"oxxo"}}'
    headers:
      Content-type:
      - ' application/json'
      Authorization:
      - Basic MXR2NXlKcDN4blZaN2VLNjdtNGg6
  response:
    status:
      code: 200
      message: 
    headers:
      HTTP/1.1 200 OK: []
      Conekta-Media-Type:
      - conekta-v0.3.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"75aefeab9f132261a4adea28f0f1db75"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":"52f16d3bd7e1a0b43f000018","livemode":false,"created_at":1391553851,"status":"pending_payment","currency":"MXN","description":"R164485503-88UE844H","reference_id":"R164485503-88UE844H","failure_code":null,"failure_message":null,"monthly_installments":null,"object":"charge","amount":200000,"fee":3480,"refunds":[],"payment_method":{"expiry_date":"040314","barcode":"38100000000042290121213001160013","barcode_url":"https://www2.oxxo.com:8443/HTP/barcode/genbc?data=38100000000042290121213001160013&height=50&width=1&type=Code128","object":"cash_payment","type":"oxxo","expires_at":1393891200},"details":{"name":"John
        Doe","phone":"123-456-7890","email":"spree@example.com","line_items":[{"name":"Product
        #14 - 2412","description":"Autem magni vitae labore voluptatem commodi. Explicabo
        inventore aut tempora odit ex vel ea temporibus. Animi et qui placeat nemo.\nAccusamus
        consequatur quia quisquam. Odit unde ratione velit recusandae sint illo molestiae
        expedita. Aliquid optio illo accusamus et excepturi sunt asperiores.\nLaudantium
        optio laborum qui aspernatur et porro. Illum inventore saepe rerum. Explicabo
        incidunt vitae harum deleniti. A quam repellat ut aperiam sint praesentium
        cumque velit. Ea eius rerum voluptate numquam.\nAmet beatae est fugiat qui
        ad repudiandae eos. Exercitationem at maiores nulla sed error molestiae. Rerum
        provident numquam rerum nihil ea qui aut.","unit_price":19,"quantity":null,"sku":"4f32dc8e96c9a9fe2e47a09d5e7e2637","category":null}],"billing_address":{"street1":"10
        Lovely Street","street2":"Northwest","street3":null,"city":"Herndon","state":"AL","zip":"20170","country":"US","tax_id":null,"company_name":null,"phone":null,"email":"spree@example.com"},"shipment":{"carrier":null,"service":null,"tracking_id":null,"price":0,"address":{"street1":"10
        Lovely Street","street2":"Northwest","street3":null,"city":"Herndon","state":"AL","zip":"20170","country":"US"}}}}'
  recorded_at: Tue, 04 Feb 2014 22:43:54 GMT
recorded_with: VCR 2.8.0
