---
http_interactions:
- request:
    method: post
    uri: https://api.conekta.io/charges
    body:
      encoding: UTF-8
      string: '{"amount":200000,"reference_id":"R507601773-6VGRNH3F","currency":"MXN","description":"R507601773-6VGRNH3F","cash":{"type":"oxxo"}}'
    headers:
      Content-type:
      - ' application/json'
      Authorization:
      - Basic MXR2NXlKcDN4blZaN2VLNjdtNGg6
  response:
    status:
      code: 200
      message: 
    headers:
      Conekta-Media-Type:
      - conekta-v0.3.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"4684ac69784bb58aa0c273244d61b33e"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":"52e827e9d7e1a04fd00001b7","livemode":false,"created_at":1390946281,"status":"pending_payment","currency":"MXN","description":"R507601773-6VGRNH3F","reference_id":"R507601773-6VGRNH3F","failure_code":null,"failure_message":null,"monthly_installments":null,"object":"charge","amount":200000,"fee":34.8,"refunds":[],"payment_method":{"expiry_date":"280214","barcode":"38100000000042290121213001160013","barcode_url":"https://www2.oxxo.com:8443/HTP/barcode/genbc?data=38100000000042290121213001160013&height=50&width=1&type=Code128","object":"cash_payment","type":"oxxo","expires_at":1393545600},"details":{"name":null,"phone":null,"email":null,"line_items":[]}}'
  recorded_at: Tue, 28 Jan 2014 21:57:47 GMT
recorded_with: VCR 2.8.0
