---
http_interactions:
- request:
    method: post
    uri: https://api.conekta.io/charges
    body:
      encoding: UTF-8
      string: '{"amount":200000,"reference_id":"R785450751-3HENAVNT","currency":"MXN","description":"R785450751-3HENAVNT","monthly_installments":null,"details":{"name":"John
        Doe","email":"spree@example.com","phone":"123-456-7890","billing_address":{"email":"spree@example.com","street1":"10
        Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","country":"US","zip":"20170"},"line_items":[{"name":"Product
        #5 - 5213","description":"Occaecati repellat consequatur sint sint sequi consequuntur.
        Ut similique nemo architecto sunt deserunt amet. Praesentium nostrum voluptates
        culpa laudantium quod incidunt eius. Sed quo sed explicabo autem. Voluptates
        impedit incidunt iusto est.\nNon iusto consectetur ut eligendi. Qui aliquid
        tempore ducimus deleniti et voluptate cumque. Dolore facilis accusantium ad.
        Omnis impedit in et sed.\nConsequatur ipsam quis error. Iusto et laborum voluptate
        consequuntur ea blanditiis. Ducimus aut et dolorum voluptatem mollitia rerum
        similique ea. Laudantium possimus nihil voluptas enim.\nAut voluptatem consequatur
        minus dolorem in sapiente. Ad eaque qui numquam voluptatem omnis et labore
        ipsa. Veniam doloremque rerum et officia.\nNeque accusamus voluptas velit
        in. Est eum enim delectus accusamus quis. Amet qui nulla cumque aut ut modi
        qui sed. Est est mollitia excepturi in qui recusandae provident.","sku":"f1b34c8885be7c11d7de4b0bd16bedf4","unit_price":"19.99"}],"shipment":{"price":"0.0","address":{"street1":"10
        Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","country":"US","zip":"20170"}}},"card":"test_tok_card_declined"}'
    headers:
      Content-type:
      - ' application/json'
      Authorization:
      - Basic MXR2NXlKcDN4blZaN2VLNjdtNGg6
  response:
    status:
      code: 404
      message: 
    headers:
      HTTP/1.1 404 Not Found: []
      Conekta-Media-Type:
      - conekta-v0.3.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"object":"error","type":"resource_not_found","message":"Token ''test_tok_card_declined''
        could not be found."}'
  recorded_at: Tue, 04 Feb 2014 22:43:06 GMT
recorded_with: VCR 2.8.0
