---
http_interactions:
- request:
    method: post
    uri: https://api.conekta.io/charges
    body:
      encoding: UTF-8
      string: '{"amount":200000,"reference_id":"R116287001-FMD3KEXZ","currency":"USD","description":"R116287001-FMD3KEXZ","cash":{"type":"oxxo"}}'
    headers:
      Content-type:
      - ' application/json'
      Authorization:
      - Basic MXR2NXlKcDN4blZaN2VLNjdtNGg6
  response:
    status:
      code: 200
      message: 
    headers:
      Conekta-Media-Type:
      - conekta-v0.2.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"344c8135084211d03fd11ded34141f13"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":"529cd568d7e1a0faaa0006a0","livemode":false,"created_at":1386009960,"status":"pending_payment","currency":"USD","description":"R116287001-FMD3KEXZ","reference_id":"R116287001-FMD3KEXZ","failure_code":null,"failure_message":null,"object":"charge","amount":200000,"fee":3479,"payment_method":{"expiry_date":"010114","barcode":"38100000000042290121213001160013","barcode_url":"https://www2.oxxo.com:8443/HTP/barcode/genbc?data=38100000000042290121213001160013&height=50&width=1&type=Code128","object":"cash_payment","type":"oxxo"},"details":{"name":null,"phone":null,"email":null,"line_items":[]}}'
  recorded_at: Mon, 02 Dec 2013 18:45:58 GMT
recorded_with: VCR 2.8.0
