---
http_interactions:
- request:
    method: post
    uri: https://api.conekta.io/charges
    body:
      encoding: UTF-8
      string: '{"amount":200000,"reference_id":"R210313731-JK93WYC5","currency":"MXN","description":"R210313731-JK93WYC5","bank":{"type":"banorte"}}'
    headers:
      Content-type:
      - ' application/json'
      Authorization:
      - Basic MXR2NXlKcDN4blZaN2VLNjdtNGg6
  response:
    status:
      code: 200
      message: 
    headers:
      Conekta-Media-Type:
      - conekta-v0.3.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"827b19d729e916a5ec43279508cde03c"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":"52e827f4d7e1a0dfbf00024b","livemode":false,"created_at":1390946292,"status":"pending_payment","currency":"MXN","description":"R210313731-JK93WYC5","reference_id":"R210313731-JK93WYC5","failure_code":null,"failure_message":null,"monthly_installments":null,"object":"charge","amount":200000,"fee":32.48,"refunds":[],"payment_method":{"service_name":"Conekta","service_number":"127589","object":"bank_transfer_payment","type":"banorte","reference":"0060359"},"details":{"name":null,"phone":null,"email":null,"line_items":[]}}'
  recorded_at: Tue, 28 Jan 2014 21:57:58 GMT
recorded_with: VCR 2.8.0
