---
http_interactions:
- request:
    method: post
    uri: https://api.conekta.io/charges
    body:
      encoding: UTF-8
      string: '{"amount":200000,"reference_id":"R747148663-B2PTCG46","currency":"MXN","description":"R747148663-B2PTCG46","card":{"name":"John
        Doe","cvc":"123","number":"4242424242424242","exp_year":"15","exp_month":"01","address":{"name":"John
        Doe","city":"Herndon","state":"AL","zip":"20170","country":"US","phone":"123-456-7890","street1":"10
        Lovely Street","street2":"Northwest"}}}'
    headers:
      Content-type:
      - ' application/json'
      Authorization:
      - Basic MXR2NXlKcDN4blZaN2VLNjdtNGg6
  response:
    status:
      code: 200
      message: 
    headers:
      Conekta-Media-Type:
      - conekta-v0.2.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"a6381012fcb3133d624ccb209ecf7c69"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":"52e1aa8ed7e1a0ab73000b90","livemode":false,"created_at":1390520974,"status":"paid","currency":"MXN","description":"R747148663-B2PTCG46","reference_id":"R747148663-B2PTCG46","failure_code":null,"failure_message":null,"monthly_instalments":null,"object":"charge","amount":200000,"fee":7261,"payment_method":{"name":"John
        Doe","exp_month":"01","exp_year":"15","auth_code":"595001","object":"card_payment","last4":"4242","brand":"visa","address":{"street1":"10
        Lovely Street","street2":"Northwest","street3":null,"city":"Herndon","state":"AL","zip":"20170","country":"US"}},"details":{"name":null,"phone":null,"email":null,"line_items":[]}}'
  recorded_at: Thu, 23 Jan 2014 23:49:24 GMT
recorded_with: VCR 2.8.0
