---
http_interactions:
- request:
    method: post
    uri: https://api.conekta.io/charges
    body:
      encoding: UTF-8
      string: '{"amount":200000,"reference_id":"R382112103-3RECBG9H","currency":"MXN","description":"R382112103-3RECBG9H","details":{"name":"John
        Doe","email":"spree@example.com","phone":"123-456-7890","billing_address":{"email":"spree@example.com","street1":"10
        Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","country":"US","zip":"20170"},"line_items":[{"name":"Product
        #8 - 9356","description":"Illo minima enim et quia omnis assumenda. Fugiat
        ea molestiae sit. Illo harum perspiciatis omnis ut quos aliquid nihil. Sint
        possimus et perspiciatis eos sed dolorem sit. Non est tempora qui maxime a
        ex deserunt officia.\nCum repellendus sequi quibusdam dicta reiciendis consequatur
        ut sint. Quisquam quaerat ullam accusantium nesciunt ipsam consequatur. Quod
        laudantium sequi et. Incidunt officiis et velit neque. Et quos ratione praesentium.\nHic
        eaque voluptatem iusto. Harum voluptatibus consequatur eum voluptates. Reprehenderit
        earum consectetur tenetur maxime. Ipsum sed praesentium consequatur eligendi
        porro nihil.\nIn ullam quas fugiat harum. Aut ut fugit vero quia harum itaque
        dicta qui. Eum provident iusto aliquid.","sku":"993f39a2b806311d983d9a278759e615","unit_price":"19.99"}],"shipment":{"price":"0.0","address":{"street1":"10
        Lovely Street","street2":"Northwest","city":"Herndon","state":"AL","country":"US","zip":"20170"}}},"card":"test_tok_processing_error","monthly_installments":null}'
    headers:
      Content-type:
      - ' application/json'
      Authorization:
      - Basic MXR2NXlKcDN4blZaN2VLNjdtNGg6
  response:
    status:
      code: 404
      message: 
    headers:
      HTTP/1.1 404 Not Found: []
      Conekta-Media-Type:
      - conekta-v0.3.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"object":"error","type":"resource_not_found","message":"Token ''test_tok_processing_error''
        could not be found."}'
  recorded_at: Thu, 20 Feb 2014 17:59:28 GMT
recorded_with: VCR 2.8.0
