---
http_interactions:
- request:
    method: post
    uri: https://api.conekta.io/charges
    body:
      encoding: UTF-8
      string: '{"amount":200000,"reference_id":"R522380540-E3HPY5BE","currency":"USD","description":"R522380540-E3HPY5BE","bank":{"type":"banorte"}}'
    headers:
      Content-type:
      - ' application/json'
      Authorization:
      - Basic MXR2NXlKcDN4blZaN2VLNjdtNGg6
  response:
    status:
      code: 200
      message: 
    headers:
      Conekta-Media-Type:
      - conekta-v0.2.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"711b9c297ed1a69650c3540156cea7e6"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":"529cd56cd7e1a0b8c600069d","livemode":false,"created_at":1386009964,"status":"pending_payment","currency":"USD","description":"R522380540-E3HPY5BE","reference_id":"R522380540-E3HPY5BE","failure_code":null,"failure_message":null,"object":"charge","amount":200000,"fee":3247,"payment_method":{"service_name":"Conekta","service_number":"127589","object":"bank_transfer_payment","type":"banorte","reference":"0014156"},"details":{"name":null,"phone":null,"email":null,"line_items":[]}}'
  recorded_at: Mon, 02 Dec 2013 18:46:03 GMT
recorded_with: VCR 2.8.0
