---
http_interactions:
- request:
    method: post
    uri: https://api.conekta.io/charges
    body:
      encoding: UTF-8
      string: '{"amount":200000,"reference_id":"R241855647-QCAXSM32","currency":"MXN","description":"R241855647-QCAXSM32","monthly_installments":1,"card":"test_tok_card_declined"}'
    headers:
      Content-type:
      - ' application/json'
      Authorization:
      - Basic MXR2NXlKcDN4blZaN2VLNjdtNGg6
  response:
    status:
      code: 404
      message: 
    headers:
      Conekta-Media-Type:
      - conekta-v0.3.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"object":"error","type":"resource_not_found","message":"Token ''test_tok_card_declined''
        could not be found."}'
  recorded_at: Thu, 30 Jan 2014 01:08:33 GMT
recorded_with: VCR 2.8.0
