---
http_interactions:
- request:
    method: post
    uri: https://api.conekta.io/customers
    body:
      encoding: UTF-8
      string: '{"name":"foo@example.com","email":"foo@example.com"}'
    headers:
      Content-type:
      - ' application/json'
      Authorization:
      - Basic MXR2NXlKcDN4blZaN2VLNjdtNGg6
  response:
    status:
      code: 200
      message: 
    headers:
      Conekta-Media-Type:
      - conekta-v0.3.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"ecc582245d619614ea84753ccfa4ef59"'
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: '{"id":"cus_e7inii51RjUPsMbP8","email":"foo@example.com","name":"foo@example.com","phone":null,"livemode":false,"default_card_id":null,"object":"customer","created_at":1390936402,"cards":[],"subscription":null}'
  recorded_at: Tue, 28 Jan 2014 19:13:08 GMT
recorded_with: VCR 2.8.0
