---
http_interactions:
- request:
    method: post
    uri: https://api.conekta.io/customers/cus_e7inii51RjUPsMbP8/cards
    body:
      encoding: UTF-8
      string: "{\"token\":\"tok_test_visa_4242\"}"
    headers:
      Content-type:
      - " application/json"
      Authorization:
      - Basic MXR2NXlKcDN4blZaN2VLNjdtNGg6
  response:
    status:
      code: 200
      message: 
    headers:
      Conekta-Media-Type:
      - conekta-v0.3.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - "\"8694ee7dc3dc0cfce472b963bc3aa6a1\""
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: "{\"id\":\"card_74KJAg6Z4HQs4BHz\",\"created_at\":1397576031,\"active\":true,\"last4\":\"4242\",\"object\":\"card\",\"exp_month\":\"12\",\"exp_year\":\"19\",\"brand\":\"VISA\",\"name\":\"Jorge
        Lopez\",\"customer_id\":\"cus_e7inii51RjUPsMbP8\"}"
  recorded_at: Tue, 15 Apr 2014 15:33:19 GMT
recorded_with: VCR 2.8.0
