---
http_interactions:
- request:
    method: get
    uri: https://api.conekta.io/customers/cus_e7inii51RjUPsMbP8/cards
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - ' application/json'
      Authorization:
      - Basic MXR2NXlKcDN4blZaN2VLNjdtNGg6
  response:
    status:
      code: 200
      message: 
    headers:
      Conekta-Media-Type:
      - conekta-v0.3.0; format=json
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - '"f9c645205d0fab2148400135a8ef513c"'
      Status:
      - 200 OK
      X-Record-Count:
      - '2'
    body:
      encoding: UTF-8
      string: '[{"id":"card_pSwoseKzEwBr9SDM","created_at":1390944545,"active":true,"last4":"4242","object":"card","exp_month":"12","exp_year":"19","brand":"VISA","name":"Jorge
        Lopez","customer_id":"cus_e7inii51RjUPsMbP8"},{"id":"card_Ph6kuMK2dL3QWJAc","created_at":1390944300,"active":true,"last4":"4242","object":"card","exp_month":"12","exp_year":"19","brand":"VISA","name":"Jorge
        Lopez","customer_id":"cus_e7inii51RjUPsMbP8"}]'
  recorded_at: Tue, 28 Jan 2014 21:42:58 GMT
recorded_with: VCR 2.8.0
